html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

body {
  background-color: $color-bg-gray;
  color: #323232;
  font-size: 14px;
  transition: all 1s ease-in 0s;
}

main {
  width: 100%;
  background-color: $color-bg-gray;
  padding-top: $spacing-xlarge;
  max-width: 960px;
  margin: 0 auto;
  min-height: 70vh;
  display: grid;
  flex-direction: column;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
  :visited,
  :focus,
  :active {
    color: white;
  }
}

button,
input:not([type="file"]),
textarea,
.fileUpload {
  justify-self: center;
  width: 100%;
  height: 32px;
  border: none;
  font-size: 14px;
  border-bottom: 1px #323232 solid;
  color: black;
  font-weight: 400;
  resize: none;
  background-color: $color-bg-gray;

  &:not(:first-child) {
    margin-top: 16px;
  }

  &::placeholder {
    font-weight: 300;
    color: rgba(32, 32, 32, 0.7);
  }
}

textarea {
  height: 80px;
}

button {
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: $color-pink;
  color: white;
}

button,
input[type="submit"] {
  cursor: pointer;
}
