extends layouts/main 

block content
    .form-container
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
            input(type="file" id="video", name="videoFile", required=true, accept="video/*")
            input(type="text" placeholder="Title", name="title", required=true)
            textarea(type="text" placeholder="Description", name="description")
            input(type="submit" value="Upload Video")