extends layouts/main 

block content
    .form-container
        form(action=`/users${routes.changePassword}`, method="post")
            input(type="password" placeholder="현재 비밀번호", name="oldPassword", required=true)
            input(type="password" placeholder="새 비밀번호", name="newPassword", required=true)
            input(type="password" placeholder="새 비밀번호를 다시 입력해주세요", name="newPassword1", required=true)
            input(type="Submit" value="비밀번호 변경")