extends layouts/main 

block content
    .form-container
        form(action=`/users${routes.changePassword}`, method="post")
            input(type="password" placeholder="Current Password", name="oldPassword", required=true)
            input(type="password" placeholder="New Password", name="newPassword", required=true)
            input(type="password" placeholder="Confirm the New Password", name="newPassword1", required=true)
            input(type="Submit" value="Update Password")