extends layouts/main 

block content
    .form-container
        .record-container#jsRecordContainer
            video#jsVideoPreview
            button#jsRecordBtn 녹화 시작하기
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
            input(type="file" id="video", name="videoFile", required=true, accept="video/*,image/*")
            input(type="text" placeholder="스토리의 제목은?", name="title", required=true)
            textarea(type="text" placeholder="떠오르는 것들을 적어보세요.", name="description")
            input(type="submit" value="스토리 올리기")