.videoBlock {
  width: 100%;
  padding: $spacing-small;
  background-color: $color-bg-gray;
  border-radius: $spacing-xsmall;

  .videoBlock__wrapper {
    width: 100%;
    height: auto;

    &:hover {
      transform: scale(1.01);
    }
  }

  &:not(:last-child) {
    margin-bottom: $spacing-small;
  }

  video {
    width: 100%;
    margin: auto 0;
    border-radius: 4px;
  }

  img {
    width: 100%;
    margin: auto 0;
    max-height: 168px;
    object-fit: cover;
    border-radius: 4px;
  }

  .videoBlock__infoContainer {
    padding: $spacing-small 0;
    width: 100%;

    .videoBlock__title {
      font-size: $text-medium;
      font-weight: 600;
      margin: $spacing-xsmall;
    }

    .videoBlock__views {
      font-size: $text-small;
      font-weight: 300;
      margin: 0 $spacing-xsmall;
    }
  }
}
