.user-profile {
  width: 560px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .user-profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar {
      width: 180px;
      height: 180px;
      border-radius: 50%;
    }

    .profile__username {
      font-size: $text-large;
      margin-top: $spacing-medium;
    }
  }

  .user-profile__btns {
    display: grid;
    gap: $spacing-small;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 240px;
    margin: $spacing-medium;

    .secondary {
      background-color: #fafafa;
      color: #323232;
    }
  }

  .home-rooms {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-rooms__title {
      font-size: $text-large;
      text-align: left;
      align-self: flex-start;
      margin: $spacing-medium 0;
    }

    .rooms {
      width: 100%;
      background-color: #fff;
      padding: $spacing-medium 0;
      border: none;
      border-bottom: 1px $color-gray solid;
    }

    .home-room__title {
      font-size: $text-large;
      margin-bottom: $spacing-xsmall;
    }

    .home-room__views {
      font-size: $text-small;
    }
  }
}
