.video-detail__container {
  background-color: $color-bg-gray;
  display: grid;
  position: relative;
  align-content: start;
  gap: $spacing-large;
  grid-template-columns: 3fr 2fr;
  grid-template-areas:
    "video comments"
    "info comments";

  .video-player__container {
    grid-area: video;
    z-index: 100;
  }

  .video-info__container {
    width: 100%;
    flex-direction: column;
    border-radius: $spacing-xsmall;
    grid-area: info;
    // position: absolute;
    box-shadow: 0px 0px 10px 4px rgba(120, 120, 120, 0.25);

    .video__info {
      margin: $spacing-large;
      overflow-wrap: break-word;

      button {
        width: 200px;
        margin-bottom: $spacing-medium;
      }

      .video__author {
        a {
          color: $color-pink;
        }
      }

      .video__title,
      .video__views,
      .video__author,
      .video__description {
        display: block;
        margin-bottom: $spacing-small;
        font-weight: 300;
      }

      .video__title {
        font-size: $text-small;
        font-weight: 300;
      }

      .video__views {
        font-size: $text-small;
      }

      .video__description {
        font-size: $text-large;
        font-weight: 500;
      }
    }
  }

  .video__comments {
    grid-area: comments;
    width: 100%;
    text-align: center;

    .video__comment-number {
      font-size: 18px;
    }

    .add__comment {
      margin-top: $spacing-medium;
      width: 100%;
      input {
        width: 100%;
      }
    }

    .video__comments-list {
      margin-top: 50px;
      li {
        background-color: $color-gray;
        color: #323232;
        padding: $spacing-small;
        border-radius: $spacing-xsmall;
        border-bottom-right-radius: 0px;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        .comment-wrapper {
          display: grid;
          flex-direction: column;
          justify-content: space-between;
          grid-template-columns: 2fr 48px;
          gap: $spacing-small 0;
        }
      }
    }
  }
}
