.home__wrapper {
  width: 560px;

  display: grid;
  flex-direction: column;
  justify-content: center;

  .home-title {
    padding: $spacing-small;
    width: 100%;
    font-size: $text-large;
    // margin: $spacing-large 0;

    .home-videos__title {
      font-size: $text-xxlarge;
      font-weight: 600;
    }

    .home-videos__views {
      font-size: $text-medium;
      margin-top: $spacing-xsmall;
    }
  }

  .home-search {
    width: 240px;
    margin: $spacing-small;
    padding: 0 $spacing-small;
    justify-self: flex-end;
    h3 {
      justify-self: flex-end;
      margin: 8px 0;
    }
  }

  .home-upload {
    margin: $spacing-small;
    padding: $spacing-small;
    background-color: #f8e8d3;
    border-radius: 4px;
    text-align: center;

    &:hover {
      transform: scale(1.02);
    }
  }

  .home-videos {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
