.home__wrapper {
  width: 100%;
  max-width: 960px;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-self: start;

  .home-title {
    padding: $spacing-small 0;
    width: 100%;
    font-size: $text-large;

    .home-videos__title {
      font-size: $text-xxlarge;
      font-weight: 600;
    }

    .home-videos__views {
      font-size: $text-medium;
      margin-top: $spacing-xsmall;
    }
  }

  .home__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .home-upload {
      width: 100%;
      max-width: 240px;
      max-height: 32px;

      a button {
        justify-self: end;
        width: 240px;
        margin-bottom: $spacing-medium;
      }
    }

    .home-search {
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      align-items: center;
      width: 320px;

      h3 {
        margin: 8px 0;
      }
    }
  }

  #noSearchResult {
    margin-top: $spacing-xlarge;
    width: 960px;
    text-align: center;
    align-content: center;
    justify-items: center;
  }

  .home-videos {
    margin-top: $spacing-xlarge;
    z-index: 100;
    width: 960px;
    display: grid;
    gap: 64px $spacing-medium;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
  }
}
